@import "tailwindcss";

/* UP ANIMATION */
@keyframes up {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}

/* DOWN ANIMATION */
@keyframes down {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0%);
  }
}

/* CLASSES */
.animate-upFast {
  animation: up 5s linear infinite;
}

.animate-downSlow {
  animation: down 6s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

/* Hide Next.js 15 Developer Indicator Overlay Badge */
nextjs-portal,
nextjs-static-indicator,
nextjs-dev-indicator {
  display: none !important;
  opacity: 0 !important;
  pointer-events: none !important;
  visibility: hidden !important;
}
